
  <ion-tabs>
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button tab="personal">
        <ion-icon name="home"></ion-icon>
        <ion-label>Personal</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="espera">
        <ion-icon name="trending-up"></ion-icon>
        <ion-label>Espera</ion-label>
      </ion-tab-button>
      <ion-tab-button routerLink="/registropaciente" style="background-color:#34ace0;color:white">
        <ion-icon name="add"></ion-icon>
        <ion-label>Agregar</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="retraso">
        <ion-icon name="cog"></ion-icon>
        <ion-label>Retraso</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="general">
        <ion-icon name="contacts"></ion-icon>
        <ion-label>General</ion-label>
      </ion-tab-button>
  
    </ion-tab-bar>
  </ion-tabs>