<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Paciente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
<ion-list>
  <div *ngFor="let cita of citas" color="primary">
    <ion-item [routerLink]="['/solicitud', cita._id]">
      <ion-label>
        <ion-text>Cita {{cita.numero}}</ion-text>
        <ion-text>{{cita.estado}}</ion-text>
        <ion-text>{{cita.fechaprogramada}}</ion-text>
      </ion-label>
    </ion-item>
  </div>
</ion-list>
</ion-content>
