<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p class="pform">Registrar Paciente</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-input 
      type="search"
      maxlength="8" 
      [(ngModel)]="paciente.dni" 
      placeholder="Ingrese un DNI"></ion-input>
    <ion-button color="secondary" (click)="presentLoading();getPaciente()"><ion-icon name="search"></ion-icon></ion-button>
  </ion-item>
  <ion-item>
    <img item-start src="assets/imgs_gcm/user.png">
    <ion-input
      type="text" 
      placeholder=" Nombres y Apellidos"
      [(ngModel)]="paciente.nombres">
    </ion-input>
  </ion-item>
  <ion-item>
      <img item-start src="assets/imgs_gcm/phone.png">
    <ion-input
    type="tel" 
    placeholder=" Numero de Teléfono o Celular"
    [(ngModel)]="paciente.telefono">
    </ion-input>
  </ion-item>
  <ion-item>
      <img item-start src="assets/imgs_gcm/age.png">
    <ion-input
      type="number" 
      placeholder=" Edad del Paciente"
      [(ngModel)]="paciente.edad">
    </ion-input>
  </ion-item>
  <ion-item>
      <img item-start src="assets/imgs_gcm/period.png">
    <ion-input
      type="date" 
      placeholder=" Hoy Registro"
      [(ngModel)]="paciente.fecharegistro">{{paciente.fecharegistro }}
    </ion-input>
    <!-- date:'dd/MM/yyyy'-->|
  </ion-item>
  <ion-item>
      <img item-start src="assets/imgs_gcm/period.png">
    <ion-input
      type="date" 
      placeholder=" Cita Próxima"
      [(ngModel)]="paciente.citaproxima">
    </ion-input>
  </ion-item>
  
    
  <ion-select placeholder=" Tipo de Trato" [(ngModel)]="paciente.tipo">
    <ion-select-option value="embarazo">Gestante</ion-select-option>
    <ion-select-option value="vacuna">Vacunas</ion-select-option>
    <ion-select-option value="cred">CRED</ion-select-option>
  </ion-select>

  <ion-button color="secondary" (click)="abrirDiasCita()">Candelarizacion</ion-button>

  <ion-button 
    color="secondary"
    expand="full" 
    (click)="registrarPaciente()"
    >REGISTRAR
  </ion-button>

</ion-content>