<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>registropaciente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h1 align="center">Registro de Paciente</h1>
  <ion-input
    type="text" 
    placeholder="Nombres y Apellidos"
    [(ngModel)]="nombrePaciente">
  </ion-input>
  <ion-input
    type="tel" 
    placeholder="Numero de Teléfono o Celular"
    [(ngModel)]="celularPaciente">
  </ion-input>
  
  <ion-select placeholder="Tipo de Trato" [(ngModel)]="tratoPaciente">
    <ion-select-option value="prenatal">Prenatal</ion-select-option>
    <ion-select-option value="vacunas">Vacunas</ion-select-option>
  </ion-select>

  <ion-button (click)="abrirDiasCita()">Candelarizacion</ion-button>

  <ion-button 
    expand="full" 
    (click)="registrarPaciente()"
    >REGISTRAR
  </ion-button>

</ion-content>

<!-- id: '2',
nombre: 'Paciente2',
celular: '999999994',
estado: false,
citas: [ 
  { fecha: 80, estado: 'Espera', descripcion: '2' }, 
  { fecha: 100, estado: 'Espera', descripcion: '42' }, 
  { fecha: 110, estado: 'Espera', descripcion: '21' }, 
  { fecha: 120, estado: 'Espera', descripcion: '12' }
],
citaUltima: 0 -->