<ion-header>
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        <p class="pform">Archivos</p>
      </ion-title>
    </ion-toolbar>
  </ion-header>
    
<ion-content  class="card-background-page">
      <ion-grid>
        <ion-row>
          <ion-col size="6" *ngFor="let tarjeta of tarjetas">
            <ion-card>
              <img class="ion-img" [src]="tarjeta.src" (click)="viewPhoto(tarjeta.src)"/>
              <div class="card-title">{{tarjeta.titulo}}</div>
              <div class="card-subtitle">{{tarjeta.subtitulo}}</div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid padding>
        <p class="nombre">Archivos
        <ion-row *ngFor="let archivo of archivos; let i=index">
          <div *ngIf="archivo.estado">
            <label font size=12px>{{i+1}}. {{archivo.nombre}}
              <a href="{{archivo.url}}">
                  <img src="assets/imgs_herramientas/pdf.png">
              </a>
            </label>
          </div>
        </ion-row>
      </p>
      </ion-grid>
</ion-content>