<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p class="pform">Ingreso</p>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <ion-list>
    <ion-item>
      <p slot="start">
        <img src="assets/imgs_gcm/userchk.png" width="32px"/>
      </p>
      <ion-label position="stacked" color="dark">DNI</ion-label> 
      <ion-input 
        type="text"
        maxlength="8" 
        [(ngModel)]="dniDoctor" 
        placeholder="Ingrese su DNI">
      </ion-input>
    </ion-item>

    <ion-item>
      <p slot="start">
        <img src="assets/imgs_gcm/lock.png" width="32px"/>
      </p>
      <ion-label position="stacked" color="dark">Contraseña</ion-label> 
      <ion-input 
        type="password" 
        [(ngModel)]="passwordDoctor"
        placeholder="Ingrese su contraseña">
      </ion-input>
    </ion-item>

  </ion-list>

  <!-- <br/> -->
  <div padding>
    <ion-button 
      color="secondary"
      expand="full" 
      (click)="ingresar()"
      >INGRESAR
    </ion-button>
  </div>

  <!-- <br/> -->

  <!-- <a (click)="recuperar()"> Recuperar Contraseña</a> -->

</ion-content>
