<ion-content padding>

  <h1 align="center">LOGIN</h1>
  
  <ion-input 
    type="text"
    maxlength="8" 
    [(ngModel)]="dniDoctor" 
    placeholder="DNI">
  </ion-input>
  <ion-input 
    type="password" 
    [(ngModel)]="passwordDoctor"
    placeholder="password">
  </ion-input>

  <ion-select placeholder="Sucursal" [(ngModel)]="idSucursal"> 
    <div *ngFor="let sucursal of sucursales; let i = index">
        <ion-select-option [value]="sucursal._id">{{sucursal.nombre}}</ion-select-option>
    </div>
  </ion-select>
  <br/>

  <ion-button 
    color="success"
    expand="full" 
    (click)="ingresar()"
    >INGRESAR
  </ion-button>
  <br/>

  <a (click)="recuperar()"> Recuperar Contraseña</a>

</ion-content>
