<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item-sliding style="border-radius:10px"> 
      <ion-item 
        color="light" 
        style="border:1px solid rgb(255,255,255);"
        (click)="goToPacientesVacuna()">

        <ion-thumbnail>
          <img 
            style="border-radius:50%" 
            src="">
        </ion-thumbnail>
        <ion-label align="center">Vacunas</ion-label>
        <ion-badge color="warning" slot="end" style="border:1px solid black">11</ion-badge>
        <ion-badge color="success" slot="end" style="border:1px solid black">11</ion-badge>
        <ion-badge color="danger" slot="end" style="border:1px solid black">11</ion-badge>
      </ion-item>

      <ion-item-options side="end">
        
        <ion-item-option 
          color="light"
          style="border:1px solid rgb(255,255,255)">
          <span style="padding:0px 15px">+</span>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item-sliding style="border-radius:10px"> 

      <ion-item 
        color="tertiary" 
        style="border:1px solid rgb(255,255,255);"
        (click)="goToPacientesEmbarazo()">

        <ion-thumbnail>
          <img 
            style="border-radius:50%" 
            src="">
        </ion-thumbnail>

        <ion-label align="center">Gestante</ion-label>
        <ion-badge color="warning" slot="end" style="border:1px solid black">11</ion-badge>
        <ion-badge color="success" slot="end" style="border:1px solid black">11</ion-badge>
        <ion-badge color="danger" slot="end" style="border:1px solid black">11</ion-badge>
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option 
          color="tertiary"
          style="border:1px solid rgb(255,255,255)">
          <span style="padding:0px 15px">+</span>
        </ion-item-option>
      </ion-item-options>

    </ion-item-sliding>

    <ion-item-sliding style="border-radius:10px"> 
      <ion-item 
        color="warning" 
        style="border:1px solid rgb(255,255,255);"
        (click)="goToPacientesCred()">

        <ion-thumbnail>
          <img 
            style="border-radius:50%" 
            src="">
        </ion-thumbnail>

        <ion-label align="center">CRED</ion-label>
        <ion-badge color="warning" slot="end" style="border:1px solid black">11</ion-badge>
        <ion-badge color="success" slot="end" style="border:1px solid black">11</ion-badge>
        <ion-badge color="danger" slot="end" style="border:1px solid black">11</ion-badge>
      </ion-item>

      <ion-item-options side="end">
        
        <ion-item-option 
          color="warning"
          style="border:1px solid rgb(255,255,255)">
          <span style="padding:0px 15px">+</span>
        </ion-item-option>
      </ion-item-options>
    </ion-item-sliding>

    <ion-item
      style="background-color:#86888f;border:1px solid rgb(255,255,255);border-radius:10px;"
      [routerLink]="['/herramientas']">
      <ion-thumbnail>
        <img 
          style="border-radius:50%" 
          src="">
      </ion-thumbnail>
      <ion-label>
        <ion-text>
          <h3 align="center">Archivos</h3>
        </ion-text>
      </ion-label>
    </ion-item>


  </ion-list>


</ion-content>



  <!-- <ion-list>
    <ion-item *ngFor="let item of items">
      <ion-icon [name]="item.icon" slot="start"></ion-icon>
      {{item.title}}
      <div class="item-note" slot="end">
        {{item.note}}
      </div>
    </ion-item>
  </ion-list> -->
  <!--
    <div *ngIf="selectedItem" padding>
      You navigated here from <b>{{selectedItem.title }}</b>
    </div>
  -->