<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <p class="pform">Listado</p>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-grid class="background" responsive-sm>
      <ion-row>
        <ion-col width-33 (click)="goToPacientes('vacuna')">
          <img src="assets/imgs_gcm/baby.png" class="ion-img"/>
        </ion-col>
        <ion-col width-33>
          <p class="pform">VACUNAS</p>
        </ion-col>
        <ion-col width-33>
          <ion-button
            class="button-add"
            color="secondary"
            (click)="goToRegistroPaciente('vacuna')"
            >Agregar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="background" responsive-sm>
      <ion-row>
        <ion-col width-33 (click)="goToPacientes('embarazo')">
          <img src="assets/imgs_gcm/pregnant.png" class="ion-img"/>
        </ion-col>
        <ion-col width-33>
          <p class="pform">GESTANTE</p>
        </ion-col>
        <ion-col width-33>
          <ion-button 
            class="button-add"
            color="secondary"
            (click)="goToRegistroPaciente('embarazo')"
            >Agregar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="background" responsive-sm>
      <ion-row>
        <ion-col width-33 (click)="goToPacientes('cred')">
          <img src="assets/imgs_gcm/boy.png" class="ion-img"/>
        </ion-col>
        <ion-col width-33>
          <p class="pform">CRED</p>
        </ion-col>
        <ion-col width-33>
          <ion-button
            class="button-add"
            color="secondary"
            (click)="goToRegistroPaciente('cred')"
            >Agregar
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid class="background" responsive-sm>
      <ion-row>
        <ion-col col-4>
          <img src="assets/imgs_gcm/files.png" class="ion-img" style="width:100px"/>
        </ion-col>
        <ion-col col-8>
          <p class="pform">ARCHIVOS</p>
          <label>
            <ion-button 
              class="button-files" 
              color="danger" 
              [routerLink]="['/herramientas']"
              >Ver Archivos
            </ion-button>
          </label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>

</ion-content>