.button-not{
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  border-radius: 5px;
  border: 1px solid black;
  width:25%;
  height: 45px;
}
.background{
  background-color: white;
  border: 1px solid black;
}
.center-div
{
  margin: auto;
  width: 180%; 
}

.button-add{
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
  color: #ffffff;
  width:100%;
  height: 100%;
  border-radius: 5px;
  border: 1px solid black;
}
.button-files{
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  width: 100%;
  height: 40%;
  border-radius: 5px;
  border: 1px solid black;
}
.ion-img{
  width: 80%;
  height: 100%;
  padding: 0 0 0 0;
}
.pform{
  font-style:serif;
  position: center;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
