<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding 
      style="margin:10px 0px;" 
      *ngFor="let paciente of pacientes">

      <ion-item 
        [routerLink]="['/chequeo', urlData]">

        <ion-thumbnail>
          <img 
            style="border-radius:50%" 
            src="http://lorempixel.com/350/230/">
        </ion-thumbnail>

        <ion-label 
          text-wrap 
          style="padding-left:35px">
            <ion-text color="primary">
              <h3>{{paciente.nombres}}</h3>
            </ion-text>
            <ion-text color="secondary">
              <p>{{paciente.edad}}</p>
            </ion-text>
        </ion-label>
        
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="llamarPaciente(paciente)">Llamar</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button [routerLink]="['/registropaciente', urlData]">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-segment>
    <ion-segment-button checked layout="icon-start" (click)="getEsperaPacientes()">
      <ion-label color="warning">Próximos</ion-label>
      <ion-icon name="stopwatch" color="warning"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" (click)="getRetrasoPacientes()">
      <ion-label color="danger">Pasados</ion-label>
      <ion-icon name="alert" color="danger"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" (click)="getTodoPacientes()">
      <ion-label color="primary">Todos</ion-label>
      <ion-icon name="done-all" color="primary"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>