<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Pacientes</ion-title>
  </ion-toolbar>
  <ion-searchbar></ion-searchbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item-sliding 
      style="margin:10px 0px;" 
      *ngFor="let paciente of pacientes">

      <ion-item 
        (click)="irAChequeo(paciente)">

        <ion-thumbnail>
          <img 
            style="border-radius:50%" 
            src="http://lorempixel.com/350/230/">
        </ion-thumbnail>

        <ion-label 
          text-wrap 
          style="padding-left:35px">
            <ion-text color="primary">
              <h3>{{paciente.nombre}}</h3>
            </ion-text>
            <ion-text color="secondary">
              <p>{{paciente.citaUltima}}</p>
            </ion-text>
        </ion-label>
        
      </ion-item>

      <ion-item-options side="end">
        <ion-item-option (click)="llamarPaciente(paciente)">Llamar</ion-item-option>
      </ion-item-options>

    </ion-item-sliding>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
  </ion-fab>

</ion-content>

<ion-footer>
  <ion-segment>
    <ion-segment-button checked layout="icon-start">
      <ion-label>Item One</ion-label>
      <ion-icon name="call"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start">
      <ion-label>Item Two</ion-label>
      <ion-icon name="heart"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start">
      <ion-label>Item Three</ion-label>
      <ion-icon name="pin"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-footer>