<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Solicitud
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ul>
    <li>Cita {{cita.numero}}</li>
    <li>{{cita.tratamiento}}</li>
    <li>{{cita.descripcion}}</li>
    <li>{{cita.fechaProgramada}}</li>
    <li>{{cita.fechaTratada}}</li>
    <li>{{cita.estado}}</li>
    <li>{{cita.doctor}}</li>
    <li>{{cita.sucursal}}</li>    
  </ul>
</ion-content>
