<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Solicitud
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ul>
    <li>Sesión {{sesion.numero}}</li>
    <li>{{sesion.tratamiento}}</li>
    <li>{{sesion.descripcion}}</li>
    <li>{{sesion.fechaprogramada}}</li>
    <li>{{sesion.fechatratada}}</li>
    <li>{{sesion.estado}}</li>
    <li>{{sesion.doctor}}</li>
    <li>{{sesion.sucursal}}</li>    
  </ul>

  <div>
    <ion-input 
      placeholder="tratamiento"
      [(ngModel)]="sesion.tratamiento"
    ></ion-input>
    <ion-input 
      placeholder="descripcion"
      [(ngModel)]="sesion.descripcion"
    ></ion-input>
    <ion-select placeholder="Estado de la Sesión" [(ngModel)]="sesion.estado">
      <ion-select-option value="true">Administrado</ion-select-option>
      <ion-select-option value="false">Faltante</ion-select-option>
    </ion-select>
    <ion-input 
      type="date"
      placeholder="Fecha Programada"
      [(ngModel)]="sesion.fechaprogramada"
    ></ion-input>
    <ion-input 
      type="date"
      placeholder="Fecha Tratamiento"
      [(ngModel)]="sesion.fechatratada"
    ></ion-input>
    <ion-button (click)="actualizarSesion()">CAMBIAR</ion-button>
  </div>

</ion-content>
